*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  font-family: "Muli", sans-serif;
}

main {
  min-height: 100vh;
  background-image: radial-gradient(
    circle,
    #0e314e,
    #20233a,
    #201825,
    #170e14,
    #000000
  );
}

h2 {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

form {
  align-items: center;
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 10px;
}

input[type="text"] {
  width: 100%;
  font-size: 18px;
}

.btn-primary {
  min-width: 90px;
}

.escrow-container {
  overflow: scroll;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.card {
  min-width: 300px;
}

.card-body {
  align-items: center;
}

.card-text {
  padding: 0;
  margin: 0;
}

.card-text-info {
  width: fit-content;
  font-size: 0.9rem;
}

.display-amount {
  font-weight: bold;
  padding-left: 15px;
}

.display-address {
  font-size: 0.8rem;
}
